<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="{{ path('home') }}" >Haouari Voyage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a  class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item ">
                <a  class="nav-link" href="{{ path('destination') }}">Destination</a>
            </li>
            <li class="nav-item ">
                <a  class="nav-link" href="{{ path('circuit') }}">Circuit</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href="{{ path('contact') }}">Contacter</a>
            </li>
            {% if not app.user %}
                <li class="nav-item">
                    <a  class="nav-link" href="{{path('security_login')}}">Connexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a  class="nav-link" href="{{path('security_logout')}}">Deconexion</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
<!-- Footer -->

<!-- Footer -->
{% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
